* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1f2a68;
}
.preview {
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 80%;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview .box .hedding {
  font-size: 60px !important;
}
.preview .box .text {
  color: #003cffa7;
  font-family: Righteous;
  font-size: 35px;
  opacity: 100%;
}
.box {
  background: #fff;
  border-radius: 20px;
  padding: 1vh;
  opacity: 70%;
}
